*{
    border: 0;
    margin: 0;
    padding: 0;
}


body{
    background-image:url(desktopWP.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: auto;
    grid-template-rows: 10% 15% auto 5%;
    grid-template-areas: "header"
                            "nav"
                            "main"
                            "footer";
}

header{
    grid-area:header;
    color: white;
    font-family: 'Hubballi', cursive;
    
}
header h1 {
    text-align: center;
    font-size: 3em;
    
}


header h1 a{
    text-decoration: none;
}

header h1 a:any-link{
    color: white;
}
nav{
    grid-area:nav;
    background-color: black;
    font-family: 'Hubballi', cursive;
    width: 100%;
    
    
}
#blog{
    text-decoration:  underline;
    color: white;
}

.list{
    text-align: center;
    position: relative;
    bottom: 10px;
}

.list li {
    display: inline-flex;
    padding-left: 50px;
}

.list a {
    text-decoration: none;
}

.list a:link{
    color: white;
}
.list a:hover{
    color: grey;
}

.list a:visited{
    color: white;
}
#headshotMini{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: 10px;
}

#headshotMini:hover{
    filter: grayscale(100);
}

#headshot {
    position: relative;
    float: right;
    height: 500px;
    width: 500px;
    border-radius: 5%;
    box-shadow: -5px -5px 30px 5px grey, 5px 5px 30px 5px grey;
    right: 100px;
}
#headshot:hover{
    box-shadow: 10px -20px;
}
.hamburg{
    visibility: hidden;
}


main{
    grid-area:main;
    font-family: 'Hubballi', cursive;
    padding-bottom: 500px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.maintext h1 {
    color: white;
    font-size: 4em;
    border: 2px solid transparent;
    width: 60%;
    position: relative;
    left: 20%;
}

.maintext p{
    color: white;
    font-size: 2em;
    border: 2px solid transparent;
    width: 60%;
    position: relative;
    top: 100px;
    left: 20%;
}

.Marley {
    width: 30%;
    height: 1000px;
    background-color: (#C0C0C0);
    background: linear-gradient(-45deg,rgba(255, 255, 255, 0.395),grey,white);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
    border-radius: 5%;
    position: relative;
    left: 10%;
    top: 150px;
    box-shadow: -5px -5px 30px 5px grey, 5px 5px 30px 5px grey;
}
.Marley:hover{
transform: scale(1.2);
}

.Marley p {
    color: white;
    font-size: 2em;
    border: 2px solid transparent;
    width: 60%;
    position: relative;
    top: 110px;
    left: 20%;
}
#MarleyWP {
    width: 70%;
    position: relative;
    left: 15%;
    top: 110px;
    border-radius: 5%;
}

.currencyconverter {
    width: 30%;
    height: 1000px;
    background-color: (#C0C0C0);
    background: linear-gradient(-45deg,rgba(255, 255, 255, 0.395),grey,white);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
    border-radius: 5%;
    position: relative;
    left: 60%;
    bottom: 850px;
    box-shadow: -5px -5px 30px 5px grey, 5px 5px 30px 5px grey;
}
.currencyconverter:hover{
    transform: scale(1.2);
    }

    #ccprogram{
        position: relative;
        top: 30px;
    }

.currencyconverter p {
    color: white;
    font-size: 2em;
    border: 2px solid transparent;
    width: 60%;
    position: relative;
    top: 410px;
    left: 20%;
}

.portfolio{
    width: 30%;
    height: 1000px;
    background-color: (#C0C0C0);
    background: linear-gradient(-45deg,rgba(255, 255, 255, 0.395),grey,white);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
    border-radius: 5%;
    position: relative;
    bottom: 550px;
    left: 10%;
    box-shadow: -5px -5px 30px 5px grey, 5px 5px 30px 5px grey;
}
.portfolio:hover{
    transform: scale(1.2);
    }
#pfdesign{
    width: 70%;
    position: relative;
    left: 15%;
    bottom: 20px;
    border-radius: 5%;

}
.portfolio p {
    color: white;
    font-size: 2em;
    border: 2px solid transparent;
    position: relative;
    width: 60%;
    top: 450px;
    left: 20%;
}

#ccprogram {
    width: 70%;
    position: relative;
    border-radius: 5%;
    left: 15%;
    bottom: 110px;
}

footer{
    grid-area:footer;
    padding-bottom: 100px;
}