
   *{
    border: 0;
    padding: 0;
    margin: 0;
}
body{

 width: 100%;
 overflow-x: hidden;
 background-image: url(iphoneWP.jpg);
 background-repeat: no-repeat;
 grid-template-columns: auto;
 grid-template-rows: 10% auto auto auto ;
 grid-template-areas:    "header "
                         "nav"
                         "main"
                         "footer";
}


header{
 background-color: black;
 grid-area: header;
 position: relative;
 
 
 font-family: 'Hubballi', cursive;
}

header ul {
 list-style-type: none; 
}

header h1 {
 font-size: 2em;
 position: relative;
 color: white;
 top: 20px

 
}

header h1 a:any-link{
 color: white;
}

header h1 a{
 text-decoration: none;
}



 #blog{
     text-decoration: underline;
     color: white;
 }
 .shownav {
     position: relative;
     content: url(burgericon.png);
     filter: invert(100);
     z-index: 1;
   height: 30px;
   bottom: 20px;
   left: 85%;
     }
 #hamburger{
     position: relative;
     text-decoration: none;
     font-size: 1em;
     font-family: 'Hubballi', cursive;
     color: white;
     height: 30px;
   bottom:20px;
   left: 85%;
     
     
 }
 /*When "an item" is clicked - show the menu */
 
 /*when its clicked again remove it */
 #clicked .off {display: none;}
 #clicked .on{display: block;
     transition: transition 5s ease-in;}
 
 #clicked:target .on {display: none;
     transition: transition 5s ease-in;}
 #clicked:target .off {display: block;
     transition: transition 5s ease-in;}
 /* Target the nav - so the nav turns on an off*/
 #clicked:target nav {display: none;
     transition: transition 5s ease-in;}
 
     @keyframes slide-in {
         0% {
             opacity: 0;
             transform: translateX(-250px);
         }
 
         100% {
             opacity: 1;
             transform: translateX(0);
         }
     }
 
     @keyframes slide-back {
         0% {
             opacity: 0;
             transform: translateX(250px);
         }
 
         100% {
             opacity: 1;
             transform: translateX(0);
         }
     }
 
     nav {
         font-family: 'Hubballi', cursive;
         background-color: black;
         grid-area: nav;
         font-family: 'Hubballi', cursive;
         display: block;
         top: 0;
         position:fixed;
         right: 50%;
         width: 50%;
         height: 100%;
         z-index: 2;
         animation: slide-in 1s ease 0s 1 normal none;
     }
     
     .list{
         font-size: 1em;
         color: white;
         position: relative;
     }
         .list a {
             text-decoration: none;
             color: white;
             
         }
     .list ul li{
        padding-top: 20px;
         list-style-type: none;
         display: block;
     }
main{
 grid-area: main;
 width: 100%;
 color: white;
 font-family: 'Hubballi', cursive;
}



footer{
 grid-area: footer;
 width: 100%;
}

.media ul {
display: inline-flex;
}

.media{
 position: relative;
 text-align: center;
 right: 12px;
}

.media ul li {
 list-style-type: none;
 padding-left: 50px;
}

#headshotMini{
 width: 50px;
 height: 50px;
 border-radius: 50%;
 position: relative;
 
}

#MarleyWP{
    width:70%;
    position: relative;
    left: 5%;
}

#ccprogram{
    width:70%;
    position: relative;
    left: 5%;
}
#pfdesign{
    width:70%;
    position: relative;
    left: 5%;
}