body {
    
    display: grid;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    grid-template-columns: auto;
    grid-template-rows: 3% 4% 70% 5%;
    grid-template-areas:"header header header"
                            "nav nav nav"
                            "main main main"
                        "footer footer footer";
}

header{
    grid-area: header;
    background-color: black;
    width: 100%;

    margin-left: -8px;

    margin-top: -8px;
    font-family: 'Hubballi', cursive;
    height: 90%;
    padding-top: 20px;
    
    
}
header h1{
    font-size: 8em;
    font-family: 'Hubballi', cursive;
    text-align: center;
    color: white;
    position: relative;
    bottom: 25%;

}
header  a {
    text-decoration: none;
}
header a:visited{
    color: white;
}
header a:link{
    color: white;
}
header a:hover{
    color: rgba(128, 128, 128, 0.531);
}

.hamburg ul {
    list-style-type: none;
    
}


#home{
    text-decoration: underline;
    color: black;
}

#headshotMini{
    width: 80px;
    border-radius: 30%;
    position: relative;
    top: 15px;
}

#headshotMini:hover{
    filter: grayscale(100);
}

nav{
    grid-area: nav;
    background-color: white;
    width: 100vw;
    text-decoration: none;
    font-family: 'Hubballi', cursive;
    margin-left: -8px;
 
}
.list{
    font-size: 3em;
    color: white;
    position: relative;
    top: .7%;
  
    
}
.list li {
    display:inline-flex;
    padding-left: 100px;
    position: relative;
    left: 25%;
    font-size: 1.5em;
    font-weight: bolder;
    
   
}
.list a{
    text-decoration: none;
}

.list li:hover{
    color: white;
}

.list a:visited{
    color: black;
}

.list li:hover{
    color: white;
}

.list a:visited{
    color: black;
}
#instagram {
    width: 50px;
}
#instagram:hover{
    filter: grayscale(100);
}
#linkedin {
    width: 50px;
}
#linkedin:hover{
    filter: grayscale(100);
}
#github {
    width: 50px;
}
#github:hover{
    filter: grayscale(100);
}



main{
    grid-area: main;
    background-color: white;
    width: 100vw;
    font-family: 'Hubballi', cursive;
    padding-bottom: 1000px;
    margin-left: -8px;
}

.maintext p{
    font-size: 15em;
    position: relative;
    top: 300px;
    left: 5%;
    
    
}
.aboutMe p{
    font-size: 5em;
    font-family: 'Hubballi', cursive;
    color: grey;
}

.aboutMe p:nth-child(1){
    position: relative;
    left: 5%;
    top: 200px;
}

.aboutMe p:nth-child(2){
    position: relative;
    left: 5%;
    top: 200px;
    border: 2px solid white;
    width: 70%;
}

#headshot{
    position: relative;
    left: 70%;
    width: 1200px;
    bottom: 1000px;
    border-radius: 5%;
    box-shadow: -5px -5px 30px 5px grey, 5px 5px 30px 5px grey;
}
#headshot:hover{
    border: 4px solid black;
    border-radius: 5%;
    box-shadow: 10px -20px;
}
button{
    position:relative; 
   
    width: 50%; 
    height: 500px;
    color:black;
    font-size: 10em;
    text-decoration:none;
    border-radius:2%;
    border:solid 1px black;
    background: grey;
    text-align:center;
    padding:16px 18px 14px;
    transition: all 0.1s;
    font-family: 'Hubballi', cursive;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: -5px -5px 30px 5px grey, 5px 5px 30px 5px grey;
    left: 25%;
    bottom: 100px;

}


button:hover{
    background-color: white;
    color: black;
    transform: scale(1.5)
}


footer{
    grid-area: footer;
    background-color: grey;
    width: 100vw;
    margin-left: -8px;
    padding-bottom: 1600px;
}

footer p{
    font-size:5em;
    font-family: 'Hubballi', cursive;
    color: white;
    position: relative;
    text-align: center;
    top: 900px;
}

.media li {
    display:inline-flex;
    padding-left: 100px;
    position: relative;
    left: 45%;
    top: 600px;
    font-size: 1.5em

}



#hamburger{
    visibility: hidden;
}



.techStack{
position: relative;
left:30%;
top: 300px;
}

.techStack li{
    display:inline-flex;
    padding-left: 300px;
    position: relative;
}

.techStack ul{
    list-style-type: none;
}