body{
    display: grid;
    background-image: url(iphoneWP.jpg);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:    "header "
                            "nav"
                            "main"
                            "footer";
}


header{
    grid-area: header;
    background-color: black;
    width: 100%;

    margin-left: -8px;

    margin-top: -8px;
    font-family: 'Hubballi', cursive;
    height: 50%;
    
    
}
.hamburg li {
    list-style-type: none;text-decoration: none;
}
#headshotMini{
    width: 30px;
    border-radius: 30%;
   
}
header h1{
    font-size: 2em;
    font-family: 'Hubballi', cursive;
    
    text-align: center;
    position: relative;
    bottom: 5%;
}
header a {
    text-decoration: none;
    color: white;
}
#validation{
    text-decoration: underline;
    color: white;
}
.shownav {
    content: url(burgericon.png);
    width: 45px;
    position: relative;
    left: 89%;
    bottom: 55px;
    filter: invert(100);
    z-index: 1;
  
    }
#hamburger{
    position: relative;
    text-decoration: none;
    left: 89%;
    
    font-size: 2em;
    font-family: 'Hubballi', cursive;
    bottom: 55px;
}
/*When "an item" is clicked - show the menu */
#clicked .on{display: block;}
/*when its clicked again remove it */
#clicked .off {display: none;}

#clicked:target .on {display: none;}
#clicked:target .off {display: block;}
/* Target the nav - so the nav turns on an off*/
#clicked:target nav {display: none;}
#validation{
    text-decoration: underline;
    color: white;
}
nav {
    grid-area: nav;
    background-image: url(navbg.jpg);
    background-repeat: no-repeat;
    font-family: 'Hubballi', cursive;
    margin-left: -8px;
    
    display: block;
    top: 0;
    position:fixed;
    right: 50%;
    width: 50%;
    height: 100%;

    z-index: 2;
}

.list{
    font-size: 1em;
    color: white;
    position: relative;
    right: 5%;
    
}
    .list a {
        text-decoration: none;
        color: white;
        
    
    }
    .list ul li{
        padding-top: 50px;
        list-style-type: none;
    }
main {
    grid-area: main;
    
    width: 100%;
    font-family: 'Hubballi', cursive;
    padding-bottom: 300px;
    margin-left: -8px;  
    color: white; 
}

.maintext p{
    font-size: 1em;
    position: relative;
    top: 2%;
    left: 20%;
    text-align: center;
    border: 2px solid transparent;
    width: 70%;
}
.fling-minislide {width:100%; height:0px; padding-bottom: 50%; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(416){animation-delay:3s;}
.fling-minislide img:nth-child(15){animation-delay:3s;}
.fling-minislide img:nth-child(14){animation-delay:3s;}
.fling-minislide img:nth-child(13){animation-delay:3s;}
.fling-minislide img:nth-child(12){animation-delay:3s;}
.fling-minislide img:nth-child(11){animation-delay:3s;}
.fling-minislide img:nth-child(10){animation-delay:3s;}
.fling-minislide img:nth-child(9){animation-delay:3s;}
.fling-minislide img:nth-child(8){animation-delay:3s;}
.fling-minislide img:nth-child(7){animation-delay:3s;}
.fling-minislide img:nth-child(6){animation-delay:3s;}
.fling-minislide img:nth-child(5){animation-delay:3s;}
.fling-minislide img:nth-child(4){animation-delay:3s;}
.fling-minislide img:nth-child(3){animation-delay:3s;}
.fling-minislide img:nth-child(2){animation-delay:3s;}
.fling-minislide img:nth-child(1){animation-delay:3s;}

.fling-minislide {
    border: 0.5px solid transparent;
    width: 80%;
    position: relative;
    left: 15%;
    top: 75px;
}
footer {
    grid-area: footer;
    width: 100%;
  
    
    margin-left: -8px;
}

footer p{
    font-size:1em;
    font-family: 'Hubballi', cursive;
    color: white;
    position: relative;
    text-align: center;
    top: 25%;
    
}
.media{
    
    position: relative;
    bottom: 40%;
    right: 7%;
    
}
.media li{
    text-decoration: none;
    list-style-type: none;
    padding-top: 10px;
}

.media ul  {
    display:block;
    padding-top: 100px;
    position: relative;
    font-size: 1.5em

}

.techStack{
    position: relative;
    text-align: center;
    top: 15%;
    }
    
    .techStack li{
        display:block;
        padding-top: 80px;
        position: relative;
    }
    
    .techStack ul{
        list-style-type: none;
    }

    #java {
        width: 70px;
    }
    #html2 {
        width: 70px;
    }
    #css2 {
        width: 70px;
    }
    #sql2 {
        width: 70px;
    }
    #oracle2 {
        width: 70px;
    }
   
  

    #instagram{
        width: 20px;
    }
    #github{
        width: 20px;
    }
    #linkedin{
        width:20px;
    }