body {
    
    display: grid;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    grid-template-columns: auto;
    grid-template-rows: 3% 4% 70% 5%;
    grid-template-areas:"header header header"
                            "nav nav nav"
                            "main main main"
                        "footer footer footer";
}

header{
    grid-area: header;
    background-color: black;
    width: 100vw;
    margin-left: -8px;
    margin-top: -8px;
    font-family: 'Hubballi', cursive;
}
header h1{
    font-size: 8em;
    font-family: 'Hubballi', cursive;
    text-align: center;
    color: white;
    position: relative;
    bottom: 25%;

}
header  a {
    text-decoration: none;
}
header a:visited{
    color: white;
}
header a:link{
    color: white;
}
header a:hover{
    color: rgba(128, 128, 128, 0.531);
}

.hamburg ul {
    list-style-type: none;
    
}

#validation{
    text-decoration: underline;
    color: black;
}

#headshotMini{
    width: 80px;
    border-radius: 30%;
    position: relative;
    top: 15px;
}

#headshotMini:hover{
    filter: grayscale(100);
}

nav{
    grid-area: nav;
    background-color: white;
    width: 100vw;
    text-decoration: none;
    font-family: 'Hubballi', cursive;
    margin-left: -8px;
 
}
.list{
    font-size: 3em;
    color: white;
    position: relative;
    top: 10%;
  
    
}
.list li {
    display:inline-flex;
    padding-left: 100px;
    position: relative;
    left: 25%;
    font-size: 1.5em;
    font-weight: bolder;
    
   
}
.list a{
    text-decoration: none;
}

.list li:hover{
    color: white;
}

.list a:visited{
    color: black;
}
#instagram {
    width: 50px;
}
#instagram:hover{
    filter: grayscale(100);
}
#linkedin {
    width: 50px;
}
#linkedin:hover{
    filter: grayscale(100);
}
#github {
    width: 50px;
}
#github:hover{
    filter: grayscale(100);
}



main{
    grid-area: main;
    background-color: white;
    width: 100vw;
    font-family: 'Hubballi', cursive;
    padding-bottom: 1000px;
    margin-left: -8px;
}

.maintext p{
    font-size: 10em;
    position: relative;
    top: 2%;
    left: 26%;
    text-align: center;
    border: 2px solid white;
    width: 55%;
}
.fling-minislide {width:100%; height:0px; padding-bottom: 50%; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:3s;}
.fling-minislide img:nth-child(2){animation-delay:1s;}
.fling-minislide img:nth-child(1){animation-delay:1s;}

.fling-minislide {
    border: 0.5px solid grey;
    width: 60%;
    position: relative;
    left: 24%;
    top: 75px;
}





footer{
    grid-area: footer;
    background-color: grey;
    width: 100vw;
    margin-left: -8px;
    padding-bottom: 1600px;
}

footer p{
    font-size:5em;
    font-family: 'Hubballi', cursive;
    color: white;
    position: relative;
    text-align: center;
    top: 900px;
}

.media li {
    display:inline-flex;
    padding-left: 100px;
    position: relative;
    left: 45%;
    top: 600px;
    font-size: 1.5em

}



#hamburger{
    visibility: hidden;
}



.techStack{
position: relative;
left:30%;
top: 300px;
}

.techStack li{
    display:inline-flex;
    padding-left: 300px;
    position: relative;
}

.techStack ul{
    list-style-type: none;
}
