
   
body{
    display: grid;
    background-color: white;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:    "header "
                            "nav"
                            "main"
                            "footer";
}


header{
    grid-area: header;
    background-color: black;
    width: 100%;

    margin-left: -8px;

    margin-top: -8px;
    font-family: 'Hubballi', cursive;
    height: 50%;
    
    
}
.hamburg li {
    list-style-type: none;
    text-decoration: none;
}
#headshotMini{
    width: 30px;
    border-radius: 30%;
   
}
header h1{
    font-size: 2em;
    font-family: 'Hubballi', cursive;
    
    text-align: center;
    position: relative;
    bottom: 5%;
}

header a {
    text-decoration: none;
    color: white;
}
#year1{
    text-decoration: underline;
    color: white;
}
.shownav {
    content: url(burgericon.png);
    width: 45px;
    position: relative;
    left: 89%;
    bottom: 55px;
    filter: invert(100);
    z-index: 1;
  
    }
#hamburger{
    position: relative;
    text-decoration: none;
    left: 89%;
    bottom: px;
    font-size: 2em;
    font-family: 'Hubballi', cursive;
    bottom: 55px;
}
/*When "an item" is clicked - show the menu */
#clicked .on{display: block;}
/*when its clicked again remove it */
#clicked .off {display: none;}

#clicked:target .on {display: none;}
#clicked:target .off {display: block;}
/* Target the nav - so the nav turns on an off*/
#clicked:target nav {display: none;}
#home{
    text-decoration: underline;
    color: grey;
}
nav {
    grid-area: nav;
    background-color: black;
    font-family: 'Hubballi', cursive;
    margin-left: -8px;
    
    display: block;
    top: 0;
    position:fixed;
    right: 50%;
    width: 50%;
    height: 100%;

    z-index: 2;
}

.list{
    font-size: 1em;
    color: white;
    position: relative;
    right: 5%;
    
}
    .list a {
        text-decoration: none;
        color: grey;
        
    }
    .list ul li{
        padding-top: 50px;
        list-style-type: none;
    }
main {
    grid-area: main;
    background-color: white;
    width: 100%;
    font-family: 'Hubballi', cursive;
    padding-bottom: 300px;
    margin-left: -8px;
    
    
}
.maintext p{
    font-size: 1em;
    position: relative;
    top: 5%;
    left: 2%;
    border: 2px solid white;
    width: 90%;

}
.maintext p:nth-child(1){
    font-size: 2em;
}

.SE1 p:nth-child(2){
    position: relative;
    top: 10%;
    left: 2%;
    border: 2px solid white;
    width: 90%;
}

.programming{
    font-size: 1em;
    position: relative;
    top: 5%;
    text-align: center
    
}
.programming p:nth-child(2){
    left: 2%;
    border: 2px solid white;
    width: 90%;
}

.webDev{
    font-size: 1em;
    position: relative;
    top: 5%;
    text-align: center
}

.webDev p:nth-child(2){
    left: 2%;
    border: 2px solid white;
    width: 90%;
}

#marley{
    width: 350px;
}
#ccprogram{
    width: 350px;
}
#dbms{
    width: 350px;
    position: relative;
    text-align: center;
    border-radius: 5%;
    
}
#headshot{
    position: relative;
    left: 20%;
    bottom: 200px;
    border-radius: 5%;
    box-shadow: -5px -5px 30px 5px grey, 5px 5px 30px 5px grey;
}

button{
    font-size: 1em;
    text-decoration:none;
    border-radius:5px;
    border:solid 1px black;
    background: grey;
    text-align:center;
    padding:16px 18px 14px;
    transition: all 0.1s;
    font-family: 'Hubballi', cursive;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: -5px -5px 30px 5px grey, 5px 5px 30px 5px grey;
    position: relative;
    left: 35%;
    top: 50px;
    font-weight: bolder;
}

footer {
    grid-area: footer;
    width: 100%;
    background-color: white;
    
    margin-left: -8px;
}

footer p{
    font-size:1em;
    font-family: 'Hubballi', cursive;
    color: black;
    position: relative;
    text-align: center;
    top: 25%;
    
}
.media{
    
    position: relative;
    bottom: 40%;
    right: 7%;
    
}
.media li{
    text-decoration: none;
    list-style-type: none;
    padding-top: 10px;
}

.media ul  {
    display:block;
    padding-top: 100px;
    position: relative;
    font-size: 1.5em

}

.techStack{
    position: relative;
    text-align: center;
    top: 15%;
    }
    
    .techStack li{
        display:block;
        padding-top: 80px;
        position: relative;
    }
    
    .techStack ul{
        list-style-type: none;
    }

    #java {
        width: 70px;
    }
    #html2 {
        width: 70px;
    }
    #css2 {
        width: 70px;
    }
    #sql2 {
        width: 70px;
    }
    #oracle2 {
        width: 70px;
    }
    

    


    #instagram{
        width: 20px;
    }
    #github{
        width: 20px;
    }
    #linkedin{
        width:20px;
    }