*{
    border: 0;
    margin: 0;
    padding: 0;
}


body{
    
    background-image:url(desktopWP.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    
    grid-template-columns: auto;
    grid-template-rows: 10% 15% auto 5%;
    grid-template-areas: "header"
                            "nav"
                            "main"
                            "footer";
}

header{
    grid-area:header;
    color: white;
    font-family: 'Hubballi', cursive;
    width: 100%;
    
}

header h1 a:any-link{
    color: white;
}
header h1 {
    text-align: center;
    font-size: 3em;
    
}
header ul li{
    list-style-type: none;
    color: white;
}

header h1 a{
    text-decoration: none;
}
nav{
    grid-area:nav;
    background-color: black;
    font-family: 'Hubballi', cursive;
    width: 100%;
    margin: 0;
    padding: 0
    
    
}
#year1{
    text-decoration: underline;
    color: white;
}

.list{
    text-align: center;
    position: relative;
    bottom: 10px;
    
}

.list li {
    display: inline-flex;
    padding-left: 50px;
    
}

.list a {
    text-decoration: none;
}

.list a:link{
    color: white;
}
.list a:hover{
    color: grey;
}

.list a:visited{
    color: white;
}
#headshotMini{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: 14px;
}

#headshotMini:hover{
    filter: grayscale(100);
}

.hamburg{
    visibility: hidden;
}


main{
    grid-area:main;
    padding-bottom: 1300px;
    width: 100%;
    
}
main{
    position: relative;
    top: 80px;
    
}
.maintext {
    color: white;
    font-size: 2em;
    border: 2px solid transparent;
    width: 60%;
    position: relative;
    left: 25vw;

    

   
    
}

.SE1  {
    display: block;
    position: relative;
    left: 25vw;
    color: white;
    font-size: 2em;
    border: 2px solid transparent;
    width: 60%;
    top: 13vh;
}




#dbms {
    width: 30%;
    position: relative;
    top: 12vh;
    display: block;
    left: 40vw;
    
    
}

.maintext ul{
    color: white;
    font-size: 1em;
    position: relative;
    display: block;
    top: 8vh;
  
}


.maintext ul li {
    list-style-type: none;
}

.programming  {
    display: block;
    position: relative;
    left: 25vw;
    color: white;
    font-size: 2em;
    border: 2px solid transparent;
    width: 60%;
    display: block;
    top: 30vh;
    
}

#ccprogram {
    position: relative;
    display: block;
    top: 5vh;
    width: 80%;
    
}

#marley {
    width: 80%;
    position: relative;
    top: 20vh;
    display: block;

   
}

#pfdesign{
    width: 80%;

    position: relative;

    display: block;
    
    top: 10vh;
}

.webDev{
    color: white;
    font-size: 2em;
    border: 2px solid transparent;
    width: 60%;
    position: relative;
    display: block;
    left: 25vw;
    top: 50vh;
   

}

.portfolio {
    color: white;
    font-size: 2em;
    border: 2px solid transparent;
    width: 60%;
    position: relative;
    display: block;
    left: 25vw;
    
    top: 80vh;
}



.footerlist ul {
    display:  inline-flex;
    text-align: center;
    list-style-type: none;
}


footer{
    grid-area:footer;
    padding-bottom: 100px;
    font-family: 'Hubballi', cursive;
}

