body {
    
    display: grid;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    grid-template-columns: auto;
    grid-template-rows: 3% 4% 70% 5%;
    grid-template-areas:"header header header"
                            "nav nav nav"
                            "main main main"
                        "footer footer footer";
}

header{
    grid-area: header;
    background-color: black;
    width: 100%;

    margin-left: -8px;
padding-bottom: 40em;
    margin-top: -8px;
    font-family: 'Hubballi', cursive;
    height: 90%;
    padding-top: 20px;
    
    
}
header h1{
    font-size: 8em;
    font-family: 'Hubballi', cursive;
    text-align: center;
    color: white;
    position: relative;
    bottom: 38%;

}
header  a {
    text-decoration: none;
}
header a:visited{
    color: white;
}
header a:link{
    color: white;
}
header a:hover{
    color: rgba(128, 128, 128, 0.531);
}

.hamburg ul {
    list-style-type: none;
    
}


#year2{
    text-decoration: underline;
    color: black;
}

#headshotMini{
    width: 80px;
    border-radius: 30%;
    position: relative;
    top: 15px;
}

#headshotMini:hover{
    filter: grayscale(100);
}

nav{
    grid-area: nav;
    background-color: white;
    width: 100vw;
    text-decoration: none;
    font-family: 'Hubballi', cursive;
    margin-left: -8px;
 
}
.list{
    font-size: 3em;
    color: white;
    position: relative;
    top:  4%;
  
    
}
.list li {
    display:inline-flex;
    padding-left: 100px;
    position: relative;
    left: 25%;
    font-size: 1.5em;
    font-weight: bolder;
    
   
}
.list a{
    text-decoration: none;
}

.list li:hover{
    color: white;
}

.list a:visited{
    color: black;
}
#instagram {
    width: 50px;
}
#instagram:hover{
    filter: grayscale(100);
}
#linkedin {
    width: 50px;
}
#linkedin:hover{
    filter: grayscale(100);
}
#github {
    width: 50px;
}
#github:hover{
    filter: grayscale(100);
}



main{
    grid-area: main;
    background-color: white;
    width: 100vw;
    font-family: 'Hubballi', cursive;
    padding-bottom: 1000px;
    margin-left: -8px;
}

.maintext p{
    font-size: 4em;
    position: relative;
    top: 15%;
    left: 15%;
    text-align: center;
    border: 2px solid white;
    width: 70%;
}

.maintext p:nth-child(1){
    position: relative;
    bottom: 70px;
    font-size: 10em;

}

#modules{
    position: relative;
    left: 35%;
}



footer{
    grid-area: footer;
    background-color: grey;
    width: 100vw;
    margin-left: -8px;
    padding-bottom: 1600px;
}

footer p{
    font-size:5em;
    font-family: 'Hubballi', cursive;
    color: white;
    position: relative;
    text-align: center;
    top: 900px;
}

.media li {
    display:inline-flex;
    padding-left: 100px;
    position: relative;
    left: 45%;
    top: 600px;
    font-size: 1.5em

}



#hamburger{
    visibility: hidden;
}



.techStack{
position: relative;
left:30%;
top: 300px;
}

.techStack li{
    display:inline-flex;
    padding-left: 300px;
    position: relative;
}

.techStack ul{
    list-style-type: none;
}
